{% extends 'base.html' %}

{% block title %}About Project{% endblock %}

{% block app_content %}
    <div class="container mt-3" style="max-width: 1350px;">
        <div class="content-section">
            <h1>About:</h1>
            <p>
                This is a simple flask web application for managing employees and departments.<br>
                The source code is available via this link:<br>
                <a href="https://github.com/pofce/EPAM_Project">Check out code</a>
            </p>
        </div>
    </div>
{% endblock %}